/* Clock container */
.clock-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Clock */
.clock {
  width: 200px;
  height: 200px;
  border: 10px solid #333;
  border-radius: 50%;
  position: relative;
}

/* Clock numbers */
.number {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transform-origin: 50% 50%;
  user-select: none;
  transition: transform 0.2s;
}

.number-1 {
  transform: rotate(30deg) translateY(-50%);
  left: 50%;
  top: 15px;
}

.number-2 {
  transform: rotate(60deg) translateY(-50%);
  right: 15px;
  top: 50%;
}

.number-3 {
  transform: rotate(90deg) translateY(-50%);
  bottom: 50%;
  left: 50%;
}

.number-4 {
  transform: rotate(120deg) translateY(-50%);
  left: 15px;
  bottom: 15px;
}

.number-5 {
  transform: rotate(150deg) translateY(-50%);
  left: 25px;
  top: 50%;
}

.number-6 {
  transform: rotate(180deg) translateY(-50%);
  bottom: 25px;
  left: 50%;
}

.number-7 {
  transform: rotate(210deg) translateY(-50%);
  right: 25px;
  bottom: 15px;
}

.number-8 {
  transform: rotate(240deg) translateY(-50%);
  right: 15px;
  bottom: 50%;
}

.number-9 {
  transform: rotate(270deg) translateY(-50%);
  top: 50%;
  left: 50%;
}

.number-10 {
  transform: rotate(300deg) translateY(-50%);
  left: 15px;
  top: 15px;
}

.number-11 {
  transform: rotate(330deg) translateY(-50%);
  right: 25px;
  top: 50%;
}

.number-12 {
  transform: rotate(360deg) translateY(-50%);
  bottom: 50%;
  left: 50%;
}

/* Clock hands */
.hour,
.minute,
.second {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #333;
  top: 50%;
  transform-origin: 100%;
  transform: translateY(-50%);
  transition: transform 0.5s cubic-bezier(0.4, 2.8, 0.55, 0.44);
}

/* Minute hand */
.minute {
  height: 3px;
  background-color: #555;
}

/* Second hand */
.second {
  background-color: #ff0000;
}
